<!doctype html>

<html>
<head>
</head>

<body>
    <h1>To Do List</h1>  
        
        <form method = "post" action = "/">
            <input type = "text" id = "stuff" name = "addStuff">
            <input type = "submit" value = "Ugh! More Stuff!">
        </form>
    
    <h3>Add Stuff To Do</h3>                   
<ul>  
    {{#todos}}
    {{^done}}
    <form method = "post" action = "/{{thing}}">
        <li>
        <input type = "submit" value = "Ugh!" name = "Ugh" >
        {{stuff}}
        </li>
    </form>
    {{/done}}   
    {{/todos}}
</ul>

<ul>
    <h3>Dunzo</h3>   
    
    {{#todos}}
    {{#done}}
        <li>
        {{stuff}}
        </li>
    {{/done}}       
    {{/todos}}
    
</ul>

</body>

</html>