<!doctype html>

<html>
<head>
</head>

<body>
    <h1>To Do List</h1>
        
        <form method = "post" action = "/">
            
            <h3>Add Stuff To Do</h3>
                <input type = "text"  name = "addStuff">
                <input type = "submit" value = "Ugh! More Stuff!">
        </form>
            
            
        
                
<ul>
    <h3>Completed</h3>   
    
    {{#word}}
        <li>{{rad}}</li>
              
    {{/word}}
    
</ul>

</body>

</html>
